body{
 /* font-family: "Open Sans", sans-serif;
    font-family: "Lato", sans-serif; */
    font-family: serif;
}
header{
    background-image: url('/images/Banner\ Image.png');
color: white;
    text-align: center;
    height: 600px;
    width: 1320px;
    margin: auto;
    border-radius: 5px;
    margin-top: 55px;
}
.header-title{
    padding-top: 70px;
}
.header-1st-title{
    font-size: 40px;
    padding-bottom: 0px;
    
}
.header-2nd-title{
    font-size: 62px;
    padding-top: 0px;
    margin: top 0px; ;
}